*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgb(187, 245, 187);
}
.inner-box{
    overflow: hidden;
    height: 80%;
    width: 80%;
    background-color: rgb(68, 228, 124);
    border-radius: 20px;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 0px 30%;
    width: 100%;
    height: 100px;
    background-color: rgb(10, 152, 24);

}
.elem{
    gap: 20px;
    display: flex;
    align-items: center;
}
.box{
    font-weight: 800;
    color: green;
    background-color: #fff;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 5px;
}