@media (max-width:600px){
    .card{
        width: 100%;
        /* background: linear-gradient(150deg, #FABC3B, #431D0E); */
        color: white;
        text-align: center; 
        margin-top: -50px;
    }
    .search{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .search input{
        flex: 1;
        margin-right: 20px;
        font-size: 15px;
        padding-left: 20px;
    }
    .weather{
        width: 100%;
    }
    .weather-icon{
        width: 150px;
        margin-top: 20px;
    }
    .weather h1{
        font-size: 40px;
        font-weight: 100;
    }
    .weather h2{
        font-size: 30px;
        font-weight: 400;
        margin-top: 8px;
    }
    .details{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1px;
        margin-top: 50px;
    }
    .col{
        display: flex;
        align-items: center;
        text-align: left;
    }
    .col img{
        width: 50px;
        margin-right: 20px;
    }
    .right-img{
        margin-left: 30px;
    }
    .humidity, .wind{
        font-size: 28px;
        margin-top: -6px;
    }
}