html , body{
    height: 100%;
    width: 100%;
}
.patern{
    /* height: 400px; */
    width: 30%;
    background-color: #dadada;
    font-size: 30px;
}

/* .inner{ */
    /* height: 30%; */
    /* width: 30%; */
    /* background-color: red; */
/* } */
.inner{

    height: 50vh;
    width: 50vw;
    background-color: aqua;
}
/* 1 rem = 16 pixel */
/* Vmax and Vmin */
h1{
    font-size: 1rem;
}
h2{
    font-size: 1rem;
}
h3{
    font-size: 1.5rem;
}


/* Absolute and flex */
.box{
    height: 300px;
    width: 300px;
    background-color: red;
    position: absolute;
    left: 50%;
}

.parent{
    height: 100%;
    width: 100%;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    flex-wrap: wrap;
}
.child{
    height: 500px;
    width: 500px;
    
    background-color: red;
    border: 5px solid black;
}
.child2{
    height: 500px;
    width: 500px;
    background-color: red;
    border: 5px solid black;
    flex-direction: column;
}
.child3{
    height: 500px;
    width: 500px;
    background-color: red;
    border: 5px solid black;
}
/* x axis = mean axis
    y = cross axis */