html , body{
    height: 100%;
    width: 100%;
}
.patern{
    /* height: 400px; */
    width: 30%;
    background-color: #dadada;
    font-size: 30px;
}

/* .inner{ */
    /* height: 30%; */
    /* width: 30%; */
    /* background-color: red; */
/* } */
.inner{

    height: 50vh;
    width: 50vw;
    background-color: aqua;
}
/* 1 rem = 16 pixel */
h1{
    font-size: 1rem;
}
h2{
    font-size: 1rem;
}
h3{
    font-size: 1.5rem;
}

/* Vmax and Vmin */
