@media (max-width:600px) {
    #main {
        width: 100vw;
        height: 100vh;
        flex-direction: column;
    }

    .left {
        width: 100vw;
        height: 100;
    }
    .text{
        margin-top: 20px;
    }
    .right {
        width: 100vw;
        height: 100%;
    }

    .right_top {
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .rtr {
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .rtl {
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .right_bottom {
        width: 100%;
        height: 100%;
    }
}